.Card{
    display: grid;
    grid-auto-rows: max-content;
    box-shadow: 0 0 2px hsl(0, 100%, 100%);
    padding: 1rem;
    margin: .5em 0;
    color:#fff;
    gap: .5em;
}

.cardImage{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.CardImageCont{
    height: 200px;
    overflow: hidden;
}