.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  display: grid;
  grid-template: max-content / repeat(auto-fit, minmax(300px, 320px));
  grid-auto-rows: max-content;
  gap: .5rem;
  justify-content: center;
  padding: .5rem;
}

.c-contBtn {
  grid-area: -2/1/-1/-1;
}

.c-btn {
  padding: .5rem;
}